@keyframes hover-underline {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .hover-underline-animation {
    background-image: linear-gradient(90deg, white, pink);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s;
  }
  
  .hover-underline-animation:hover {
    background-position: 0 0;
  }